body {
    background: linear-gradient(to right, #636dc4, #100a24);
    min-height: 100vh;
    margin: 0;
  }
  
  p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 300px;
  }
  
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-container {
    background: linear-gradient(to right, #100a24,#636dc4);
    box-shadow: 0 0 30px rgba(108, 102, 121, 0.4);
    width: 450px;
    height: 450px;
    border-radius: 25px;
    padding: 20px; 
    box-sizing: border-box;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .heading {
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .btn {
    background-color:#0B0C0E;
    color: white;
    width: 390px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border: 2px solid #818fac;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    box-sizing: border-box;
  }
  .btn1 {
    margin-top: 100px;
  }
  
  .btn2 {
    margin-top: 20px 
  }
  
  .google,
  .github {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    margin-top: -80px;
  }
  
  .span1 {
    color: rgb(26, 18, 18);
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 10px;
  }
  
  .span2 {
    color: white;
  }
  
  
